<h1>Demo Chat</h1>
<%= link_to 'Back', root_path %>
<div class="chat__main--wrapper">
  <% if @active_user.present? %>
    <input type="hidden" class="input__active--user" name="active_user" value="<%= @active_user.id %>">
  <% else %>
    <input type="hidden" class="input__active--user" name="active_user" value="-1">
  <% end %>
  
  <% if @is_friend_request.present? %>
    <input type="hidden" class="input__friend--request" name="friend_request" value="1" data-user-id="<%= @active_user.id %>" data-sent-cnt="0">
  <% else %>
    <input type="hidden" class="input__friend--request" name="friend_request" value="-1">
  <% end %>
  
  <input type="hidden" class="input__current--user" name="current_user" value="<%= current_user.id %>">
  
  <div class="chat__main--sub-section chat__contact--panel">
    <% if @active_user.present? %>
      <div class="chat__contact--element is-active" data-id="<%= @active_user.id %>">
        <h1><%= @active_user.email %></h1>
      </div>
    <% end %>
    
    <%= render @users %>
  </div>
  <div class="chat__main--sub-section chat__message--panel">
    <div id="messages">
      
    </div>
    
    <div class="form__friend--request-manage hidden">
      <button class="btn__friend--request-accept" type="button" name="button">Accept</button>
      <button class="btn__friend--request-deny" type="button" name="button">Deny</button>
    </div>
    
    <form class="form__message-new" action="#">
      
      <div class="form-group">
        <label for="body">Body</label>
        <textarea class="form-control form__input-body" placeholder="Enter message body here..." data-emojiable="true"></textarea>
      </div>
      
      <div class="form-group">
        <label for="body">Video</label>
        <input class="form__input-attachment-video" type="file" accept=".mp4,.avi,.mpg"></input>
        <br>
        <small>Only VIDEO files are allowed</small>
      </div>
      
      <br>
      
      <div class="form-group">
        <label for="body">Image</label>
        <input class="form__input-attachment-image" type="file" accept=".png,.jpg,.gif"></input>
        <br>
        <small>Only PNG, JPG and GIF images are allowed</small>
      </div>
      
      <br>
      
      <div class="form-group">
        <label for="body">DOCS</label>
        <input class="form__input-attachment-doc" type="file" accept=".xls,.xlsx,.pdf"></input>
        <br>
        <small>Only CSV, XLSX, PDF files are allowed</small>
      </div>
      
      <br>
      
      <button type="submit" class="btn btn-primary">Submit</button>
      
    </form>
  </div>
</div>

<style media="screen">
#messages{
 height: 300px;
 overflow-y: scroll;
}
</style>

<script type="text/javascript">
  $(document).ready(() => {
    const $messages = $('#messages')
    const $contactElement = $('.chat__contact--element')
    const $inputActiveUser = $('.input__active--user')
    const $inputCurrentUser = $('.input__current--user')
    const $newFriendRequestManage = $('.form__friend--request-manage')
    const $btnFriendRequestAccept = $('.btn__friend--request-accept')
    const $btnFriendRequestDeny = $('.btn__friend--request-deny')
    
    const $document = $(document)
    const $window = $(window)
    const itemsToShow = 5
    
    $window.on('scroll', () => {
      if ($document.height() - $window.height() - $(this).scrollTop() == 0) {
        $(`.message:hidden:lt(${itemsToShow})`).show()
      }
    })
    
    $('.chat__contact--element').on('click', (e) => {
      const $htmlBody = $('html, body')
      const $selectedContactElement = $(e.currentTarget)
      const selectedUserId = $selectedContactElement.data('id')
      const isFriendRequest = $selectedContactElement.data('is-friend-request')
      
      if ($selectedContactElement.hasClass('unknown') && !$selectedContactElement.hasClass('is-friend-request')) {
        alert("This user is not in your friends list yet, you can't send message to him now.")
        return
      }
      
      $contactElement.removeClass('is-active')
      $contactElement.removeClass('is-new-message')
      
      if (isFriendRequest == 1) {
        $newFriendRequestManage.removeClass('hidden')
      }
      
      $messages.animate({ scrollTop: $(document).height() }, "slow")
      
      $.ajax({
        type: "GET", 
        url: "/chats/list_messages/" + selectedUserId,
        data: {},
        success: (data, textStatus, jqXHR) => {
          $messages.html(data)
          
          $('.message').filter(function(index) {
              return (($(this).offset().top) > $window.height())
          }).hide()
        },
        error: (jqXHR, textStatus, errorThrown) => {}
      })

      $selectedContactElement.addClass('is-active')
      $inputActiveUser.val(selectedUserId)
    })
  })
</script>
